
.CreateursBanner-root {
      background: url("../../img/createurs/Background_Origines.gif") no-repeat;
      background-size: cover;
      display: flex;
      height: 90vh;
      align-items: center;
      justify-content: center;
      flex-direction: unset;
      pointer-events: none;


      .origine {
            display: flex;
            height: 50vh;
            width: 15vw;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            pointer-events: auto;

            &:hover .origines__txt {
                  color: steelblue;
                  -webkit-text-stroke: 1px white !important;
                  font-size: 50px;
                  font-style: italic;
                  border-bottom: double rgba(154, 150, 19, 0.76) 10px;
                  border-top: double rgba(154, 150, 19, 0.76) 10px;
                  transform: translateY(-40vh);
                  background: rgba(0, 0, 0, 0.9);
                  line-height: 5rem;
                  padding: 0 30px;
            }

            .origine__img {
                  width: 45vw;
                  border-top: double 80px white;
                  border-bottom: double 20px white;
                  border-right: transparent 30px solid;
                  border-left: transparent 30px solid;
                  border-radius: 100%;
                  opacity: 0.8;
                  filter: invert(0);
                  transition: opacity 3s ease, filter 1s linear;

                  &:hover {
                        filter: invert(1);
                        opacity: 0.1;


                  }
            }

            .div-origine-description {
                  pointer-events: none;
                  width: 100vw;
                  font-size: 50px;

                  .origines__txt {
                        white-space: pre-line;
                        transition: all 800ms ease;
                        -webkit-text-stroke: 2px black;
                        font-family:wizard-font, serif;
                  }


            }

      }
}


@font-face {
      src: url("../../font/wizard-font.ttf") format("opentype");
      font-family: wizard-font;
}

@font-face {
      src: url("../../font/wizard-font2.otf") format("opentype");
      font-family: wizard-font2;
}

