

.footer-div {
    background: rgb(223, 222, 222);
}


.footer-div h1 {
    color: #181520;
    font-size: 30px;
    font-family: wizard-font;
}
.footer-div h1:before {
    transform: translate(65vw);
    content: "";
    display: block;
    height: 0.1px;
    animation: BeforeEffect 3s both infinite alternate-reverse;
    width: 30vw;
    margin-bottom: 5px;
    background: #000000;
}
.footer-div h1:after {
    content: "";
    animation: AfterEffect 5s linear infinite alternate-reverse;
    display: block;
    height: 1px;
    width: 30vw;
    background: black;
}

.tous-les-ul-du-footer {
    display: flex;
    justify-content: space-between;

}

.ul-title {
    font-family: wizard-font;
    font-size: 20px ;
        background: #151412;
        border-bottom: solid black 0.1px;
        border-top: solid black 0.1px;
        border-right: solid black 0.1px;
        border-left: solid black 0.1px;

}

.tous-les-ul-du-footer ul {
    width: 30vw;
    color: black;
    font-size: 20px;
    list-style-type: circle;
}

.footer-li a{

    border: none;
    font-size: 15px;
    color: black;
    font-family: wizard-font, serif;
    white-space: nowrap;
    -webkit-text-stroke: unset;
    margin-bottom: 50px;
}




.last-footer-ul {

    margin-right: 2vw;
}

@keyframes AfterEffect {
    from {
        width: 100vw;
            transform: translate(0);
    }
    to {
        width: 0;
            transform: translate(50vw);
    }

}

@keyframes BeforeEffect {
    from {
        width: 100vw;
            transform: translate(0);
    }
    to {
        width: 0;
            transform: translate(50vw);
    }

}

