.bm-menu button {
    background: transparent;
    border: none;
    font-family: unset;
    font-size: unset;
    font-weight: unset;
    font-style: unset;
    filter: none;
    letter-spacing: 3px;
}



.bm-menu a {
    margin-left: 15%;
    cursor: pointer;
    font-size: 30px;
    border-radius: 10px;
    border-bottom: solid 1px orangered;
    border-top: solid 1px darkred;
}

.burger-menu {
    position: relative;
    z-index: 99 !important;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
}


/* Tout le menu qui s'affiche*/

.closed {
    z-index: 10000;
    box-sizing: content-box;
    top: 3%;
    right: 1%;
    position: fixed;
    height: 1px;
    border-radius: 3px;
    background: rgb(2, 0, 36);
    background: linear-gradient(180deg, black 40%, rgba(255, 255, 255, 1) 56%,black 57%, black 100%);
    width: 40px;
    transition: all .5s linear;
    padding: 20px 0;


}

.open {
    z-index: 10000;
    box-sizing: content-box;
    top: 3%;
    right: 1%;
    position: fixed;
    height: 3px;
    border-radius: 3px;
    background: transparent;
    width: 40px;
    transition: all .5s linear;
    padding: 20px 0;
}

.open:before {
    z-index: 10000;
    content: "";
    display: block;
    width: 40px;
    transform: rotate(-135deg) translate(-2px, -2px);
    background: white;
    height: 3px;
    transition: all .5s linear;
}



.open:after {
    content: "";
    display: block;
    width: 40px;
    transform: rotate(135deg);
    background: white;
    height: 3px;
    transition: all .5s linear;
}


.closed:before {
    content: "";
    display: block;
    border-radius: 3px;
    height: 3px;
    width: 40px;
    background: #FFFFFF;
    margin-bottom: 10px;
    transform: translateY(-15px);
    transition: all .5s linear
}


.closed:after {
    content: "";
    display: block;
    border-radius: 3px;
    height: 3px;
    width: 40px;
    background: #FFFFFF;
    transform: translateY(2px);
    transition: all .5s linear
}


/* Le bouton d'apparition */

.bm-menu {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.bm-menu ul {
    /*list-style-type: disclosure-closed;*/
    color: #ffc98f;
    margin-right: 20px;
    font-weight: bold;
}

.bm-menu li {
    font-family: wizard-font, serif, serif;
    font-style: oblique;
    margin-left: -5rem;
    margin-right: -5rem;
    margin-top: 9rem;
    letter-spacing: 3px;
    transition: transform 50ms ease;
}

.bm-menu li:hover {
    transform: translateX(20px);
}

.bm-overlay {
    display: none;

}
/*     Surcharge */

nav.bm-item-list {
    font-size: 30px;
    white-space: nowrap;
    margin-right: 30%;
}

/* Tous les li*/


@keyframes black-to-grey {
    0% {
        color: black;
    }
    30% {
        color: black;
    }
    60% {
        color: black;
    }
    100% {
        color: black;
    }

}