.navbar {

    background: radial-gradient(circle, rgb(36 117 196) 0%, rgb(0 0 0) 6%, rgb(144 44 6 / 39%) 7%, rgb(0 0 0 / 36%) 79%, rgb(0 0 0) 100%);
    display: flex;
    min-width: 100vh;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

a {
    transition: transform 0.8s;
    border-bottom: white solid 1px;
    text-decoration: none;
    color: #ce8815;
    -webkit-text-stroke: 1px midnightblue;
    font-size: 30px;
    filter: drop-shadow(0 0 10px black);
}


.navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

ul li {
    transition: transform 0.4s;
    letter-spacing: 1px;
    font-family: wizard-font2, serif;
    margin: 5% 35%;
}

.navbar li:hover {
    transform: scale(1.6);
}

